<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
# Your code here
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [3]:
import pandas as pd

Download the webpage at the url

In [4]:
data  = requests.get(url).text

Create a soup object

In [5]:
soup = BeautifulSoup(data,"html.parser")

Scrape the `Language name` and `annual average salary`.

In [6]:
table = soup.find('table')

In [7]:
#Get rows Language name and annual average salary from the table

for row in table.find_all('tr'): # in html table row is represented by the tag <tr>
    # Get all columns in each row.
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    language_name = cols[1].getText() # store the value in column 2 as language_name
    average_salary = cols[3].getText() # store the value in column 4 as average_salary
    print("{}: {}".format(language_name,average_salary))

Language: Average Annual Salary
Python: $114,383
Java: $101,013
R: $92,037
Javascript: $110,981
Swift: $130,801
C++: $113,865
C#: $88,726
PHP: $84,727
SQL: $84,793
Go: $94,082

popular-languages.Save the scrapped data into a file named *popular-languages.csv*

In [11]:
#Alternative approach using pandas

tables = pd.read_html(url)

In [12]:
df=tables[0]

In [13]:
df.head()

,0,1,2,3,4
0,No.,Language,Created By,Average Annual Salary,Learning Difficulty
1,1,Python,Guido van Rossum,"$114,383",Easy
2,2,Java,James Gosling,"$101,013",Easy
3,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,4,Javascript,Netscape,"$110,981",Easy

In [14]:
df2 = df.iloc[:, [1,3]]
df2.head()

            1                      3
0    Language  Average Annual Salary
1      Python               $114,383
2        Java               $101,013
3           R                $92,037
4  Javascript               $110,981

In [15]:
#set column names equal to values in row index position 0
df2.columns = df2.iloc[0]

#remove first row from DataFrame
df2 = df2[1:]
df2

0     Language Average Annual Salary
1       Python              $114,383
2         Java              $101,013
3            R               $92,037
4   Javascript              $110,981
5        Swift              $130,801
6          C++              $113,865
7           C#               $88,726
8          PHP               $84,727
9          SQL               $84,793
10          Go               $94,082

In [16]:
#clean salary data and transform to type integer
df2["Average Annual Salary"]=df2["Average Annual Salary"].str.replace(',','').str.replace('$','')
df2["Average Annual Salary"]=df2["Average Annual Salary"].astype(int)
df2.sort_values(by="Average Annual Salary", ascending=False, inplace=True)

df2

<ipython-input-16-e774f1890467>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df2["Average Annual Salary"]=df2["Average Annual Salary"].str.replace(',','').str.replace('$','')

0     Language  Average Annual Salary
5        Swift                 130801
1       Python                 114383
6          C++                 113865
4   Javascript                 110981
2         Java                 101013
10          Go                  94082
3            R                  92037
7           C#                  88726
9          SQL                  84793
8          PHP                  84727

In [22]:
#reset index column
df2 = df2.reset_index(drop=True)
df2.head()

0    Language  Average Annual Salary
0       Swift                 130801
1      Python                 114383
2         C++                 113865
3  Javascript                 110981
4        Java                 101013

In [25]:
#safe df to csv file in google drive (file name: output.csv)

from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/output.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df2.to_csv(f)

Mounted at /content/drive

## Authors

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).