<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd
import numpy as np

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

In [3]:
nr_rows= df.shape[0]
nr_columns= df.shape[1]
print("Nr of rows: {}".format(nr_rows))
print("Nr of columns: {}".format(nr_columns))

Nr of rows: 11552
Nr of columns: 85

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [4]:
# your code goes here
df.duplicated().sum()

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [5]:
# your code goes here
df2= df.drop_duplicates(subset="Respondent")

Verify if duplicates were actually dropped.

In [6]:
# your code goes here
nr_rows= df2.shape[0]
nr_columns= df2.shape[1]
print("After dropping duplicates:")
print("Nr of rows: {}".format(nr_rows))
print("Nr of columns: {}".format(nr_columns))

After dropping duplicates:
Nr of rows: 11398
Nr of columns: 85

In [7]:
##Check if column Respondent has only unique values
df2["Respondent"].is_unique

True

## Finding Missing values

Find the missing values for all columns.

In [8]:
# your code goes here
df2.isna().sum()

Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [9]:
# your code goes here
df2["WorkLoc"].isna().sum()

32

In [10]:
# alternative?
df2["WorkLoc"].isnull().value_counts()

False    11366
True        32
Name: WorkLoc, dtype: int64

In [11]:
# How many blank rows are there under the column EdLevel
df2["EdLevel"].isna().sum()

112

In [12]:
# How many blank rows are there under the column EdLevel
df2["Country"].isna().sum()

0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [13]:
# your code goes here
df2["WorkLoc"].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [14]:
majority_WorkLoc= df2["WorkLoc"].value_counts().idxmax()
majority_WorkLoc

'Office'

In [15]:
#make a note of the majority value here, for future reference
#Office: 6806 (Home: 3589; Other place, such as a coworking space or cafe: 971)

In [16]:
missing_values= df2["WorkLoc"].isna().sum()
print("There are {} missing values in the WorkLoc column.".format(missing_values))

There are 32 missing values in the WorkLoc column.

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [20]:
#replace NaN with majority response: "Office"

df2['WorkLoc'].replace({np.nan: majority_WorkLoc}, inplace=True)

In [22]:
#check new value count of column WorkLoc
df2["WorkLoc"].value_counts()

Office                                            6838
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [21]:
# your code goes here
missing_values= df2["WorkLoc"].isna().sum()
print("There are {} missing values in the WorkLoc column.".format(missing_values))

There are 0 missing values in the WorkLoc column.

Answers for graded quiz of lab 3:

In [23]:
#majority answer for Employment
majority_Employment= df2["Employment"].value_counts().idxmax()
majority_Employment

'Employed full-time'

In [24]:
#minority answer for UndergradMajor
min_UndergradMajor= df2["UndergradMajor"].value_counts().idxmin()
min_UndergradMajor

'A health science (ex. nursing, pharmacy, radiology)'

In [30]:
#Handling missing values for ConvertedComp
df2["ConvertedComp"].describe()

count    1.058200e+04
mean     1.315967e+05
std      2.947865e+05
min      0.000000e+00
25%      2.686800e+04
50%      5.774500e+04
75%      1.000000e+05
max      2.000000e+06
Name: ConvertedComp, dtype: float64

In [31]:
#how many missing values in column ConvertedComp

df2["ConvertedComp"].isnull().value_counts()

False    10582
True       816
Name: ConvertedComp, dtype: int64

In [34]:
#find median value
ConvertedComp_median= df2["ConvertedComp"].median()
ConvertedComp_median

57745.0

In [35]:
#replace missing values with median value

df2['ConvertedComp'].replace({np.nan: ConvertedComp_median}, inplace=True)

In [39]:
#check if still missing values in column ConvertedComp

df2["ConvertedComp"].isna().value_counts()

False    11398
Name: ConvertedComp, dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [40]:
# your code goes here
df2["CompFreq"].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [47]:
#create method to calculate normalized comepnsation values

def NormalizedAnnualCompensation(row):  
    if row['CompFreq'] == "Monthly":
        return row['CompTotal']*12
    elif row['CompFreq'] == "Weekly":
        return row['CompTotal']*52
    return row['CompTotal']

In [48]:
#pass the above method to apply() as a lambda expression

df2['NormalizedAnnualCompensation'] = df2.apply(lambda row: NormalizedAnnualCompensation(row), axis=1)

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [52]:
#show only columns of interest to check result
df2[["Respondent", "CompFreq", "CompTotal", "NormalizedAnnualCompensation"]]

       Respondent CompFreq  CompTotal  NormalizedAnnualCompensation
0               4   Yearly    61000.0                       61000.0
1               9   Yearly   138000.0                      138000.0
2              13   Yearly    90000.0                       90000.0
3              16  Monthly    29000.0                      348000.0
4              17   Yearly    90000.0                       90000.0
...           ...      ...        ...                           ...
11547       25136   Yearly   130000.0                      130000.0
11548       25137   Yearly    74400.0                       74400.0
11549       25138   Yearly   105000.0                      105000.0
11550       25141   Yearly    80000.0                       80000.0
11551       25142      NaN        NaN                           NaN

[11398 rows x 4 columns]

In [54]:
df2["NormalizedAnnualCompensation"].dtypes

dtype('float64')

In [55]:
df2["NormalizedAnnualCompensation"].describe()

count    1.058900e+04
mean     6.133295e+06
std      9.838157e+07
min      0.000000e+00
25%      5.200000e+04
50%      1.000000e+05
75%      3.600000e+05
max      8.400000e+09
Name: NormalizedAnnualCompensation, dtype: float64

In [56]:
df2["NormalizedAnnualCompensation"].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).